/* --------- CSS for texstudio website ----------*/

*{ margin: 0}

html, body, #left, #right {
	height: auto;
}

html, body, #left {
	height: 100%;
	width: 100%;
}

body {
	background-image: url("background1.jpg");
	min-height: 100%;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
	background-size: cover;
	
	font: normal 1em monospace;
	font-weight: bold
	background: #f0f0f7;
	color: #000;
}

#container {
	min-width: 41em;
	max-width: 90em;
	margin-left: auto;
	margin-right: auto;

}

#leftbar {

	background:none;
	width: 20em;
	height: 100%;
	padding-top: 30px;
	position: fixed;
}

#right {
	float: left;
	margin-left: 20em;
}

.page {
	margin: 10px;
	max-width: 650px;
	padding-top: 30px;
	padding-right: 30px;
	padding-bottom: 30px;
	padding-left: 30px;
	background:#FFF;
	box-shadow:5px 8px 5px #777;
}

h1, h2, h3, h4, h5, h6  {
	font: normal 150% monospace;
	font-weight: bold;
	color: #000;
	margin: 0 0 15px 0;
	padding: 15px 0 5px 0;
}

h1,h2,h3 {
	font-size: 150%;
	text-align: center;
}	
  
p, ul {
	text-align: justify;
	text-justify: inter-word;
	line-height: 1.7em;
	padding-bottom: 20px;
}

td 
{
	vertical-align: top;
}


#contributorContact {
	color: #CCC;
}

/*** navigation ***/ 


#navigation-bar {
	white-space: wrap;
	overflow: hidden;
	text-overflow: ellipsis;
	word-wrap: break-word;
	border-style: none;
	border-right-style: none;
	border-left-style: none;
	background: LightSlateGray;
}

ul#navigation {
	font-family: 'century gothic', 'URW Gothic L', Arial, sans-serif;
	list-style: none;
	margin: 0;
	padding: 0;
	
} 
	
ul#navigation li a {
	border-style: solid;
	border-width:1px;
	border-color: black;
	font-size: 70%;
	line-height: 40px;
	padding-left: 1em;
	color: 	#ffffff; 
	display: block;
}

ul#navigation li.menu_active a {
	border-style: solid;
	border-width:2px;
	border-color: black;
	color: #000;
}
ul#navigation li.menu_active {
	background: none;
	font-weight: bold;
	font-size: 100%;
	
}
	
ul#navigation li a:hover {
	color: #000;
	text-decoration: none;
	background: none;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
}

a { color:#7A0BB7; text-decoration:none;}
a:visited{ color: #7A0BB7;}
a:hover {
	text-decoration:none;
	background: #000;
	-moz-box-shadow: 0px 0px 0.5em 0.4em #FFF inset;
	-webkit-box-shadow: 0px 0px 0.5em 0.4em #FFF inset;
	box-shadow: 0px 0px 0.5em 0.4em #FFF inset;
}



